.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  padding: 24px;
  width: 100%;
  border-radius: 15px;
  height: 150px;
  background-color: #f4f6fb;
  color: gray;
}
