.contartors {
  width: 100%;

  .listConractors {
    display: flex;
    gap: 24px;
    width: 80%;
  }

  .contractors {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
  }
}
